/* Contact.css */

.aboutBottom {
  display: flex;
  flex-direction: column;
  height: 55%;
  align-items: center;
  margin-top: 50px;
}

.aboutBottom p {
  max-width: 1200px;
  text-align: center;
  font-family: FuturaMedium; /* Apply FuturaMedium font */
}

.about .aboutBottom h1 {
  font-weight: 400;
  font-size: 70px;
  color: black;
  height: 30px;
  display: flex;
  justify-content: center;
  transform: translateY(-40px);
  font-family: FuturaMedium; /* Apply FuturaMedium font */
}

.contact {
  width: 100%;
  height: 70vh;
  display: flex;
  margin-top: 100px;
}

.contact .leftSide {
  height: 100%;
  flex: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .rightSide {
  height: 100%;
  flex: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact .rightSide h1 {
  font-family: FuturaMedium; /* Apply FuturaMedium font */
  font-weight: 10;
  font-size: 50px;
  margin-left: 30px;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 30px;
}

form input {
  height: 40px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  font-family: FuturaMedium; /* Apply FuturaMedium font */
}

form textarea {
  margin-top: 15px;
  height: 70px;
  width: 80%;
  border: none;
  border-bottom: 1px solid #121619;
  color: black;
  font-family: FuturaMedium; /* Apply FuturaMedium font */
}

input::placeholder,
textarea::placeholder {
  font-weight: bold;
  color: black;
  font-family: FuturaMedium; /* Apply FuturaMedium font */
}

form input:focus,
textarea:focus {
  outline: none;
}

form label {
  margin-top: 15px;
  color: grey;
  font-family: FuturaMedium; /* Apply FuturaMedium font */
}

form button {
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: none;
  background-color: #121619;
  color: whitesmoke;
  font-size: 15px;
  cursor: pointer;
  font-family: FuturaMedium; /* Apply FuturaMedium font */
}

@media only screen and(max-width: 801px) and (max-width: 1200px) {
  .about .aboutBottom h1 {
    font-size: 50px; 
  }

  .about .aboutBottom p{
    padding-block: 0px;
    font-size: 15px; 
  }

  .contact {
    font-size: 15px;
  }
  .contact .rightSide h1{
    font-size: 45px;
  }
  
}

@media only screen and (max-width: 800px) {
  .about .aboutBottom h1 {
    font-size: 30px; 
  }

  .about .aboutBottom p{
    padding-top: 0px;
    font-size: 12px; 
  }

  .contact {
    font-size: 10px;
  }
  .contact .rightSide h1{
    font-size: 30px;
  }
  
}

 
