.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  
  .backgroundVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    max-height: 80vh; /* Adjust this value to change the maximum height of the video */
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure the video is behind the content */
  }

  .headerContainer {
    width: auto;
    margin-left: 50px;
  }

  
  .headerContainer p {
    padding: 0;
    font-size: 40px;
    font-weight: lighter;
    color: black;
  }
  
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 180px;
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  

@media only screen and (max-width: 800px){
  .home .backgroundVideo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-height: 60vh; /* Adjust this value to change the maximum height of the video */
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  }

  .headerContainer {
    width: 50%;
    margin-left: 30px;
    margin-top: 100px;;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 20px;
    font-weight: lighter;
    color: black;
  }
  
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 25px;
    width: 100px;
    color: white;
    text-decoration: none;
    font-size: 10px;
  }
  
}

/*@media only screen and (max-width: 1200px){
  .home .backgroundVideo{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  max-height: 70vh; 
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
  }

  .headerContainer {
    width: 50%;
    margin-left: 30px;
    margin-top: 100px;;
  }
  
  .headerContainer p {
    padding: 0;
    font-size: 35px;
    font-weight: lighter;
    color: black;
  }
  
  .headerContainer button {
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    background-color: #121619;
    height: 50px;
    width: 150px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }
  
}
*/
