@font-face{
    font-family: FuturaLight;
    src: url(../assets/FuturaPTLight.otf);
  }
  .FuturaLight{
    font-family: FuturaLight;
  
  }

.cover {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
    background-color: whitesmoke;
    border-radius: 10px;
    font-family: FuturaLight;
}

.input-box {
    margin-bottom: 15px;
}

.cover h1 {
    text-align: center;
    font-family: FuturaMedium;
}


.cover input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.cover .login-btn {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-family: FuturaMedium;
}

.cover .login-btn:hover {
    background-color: #0056b3;
}

.cover .toggle-btn {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #0056b3;
}

.input-box input::placeholder {
    color: gray;
    font-family: FuturaLight;
}
